body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  opacity: 0.95;	
}

/*** graph ***/
rect {
  fill: none;
  pointer-events: all;
}
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
}
circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 3px;
}

text {
  font: 14px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 4px;
}


/*** popup ***/
#popup {
  visibility: hidden;
  position:fixed;
  border: 1px solid black;
  background: white;
  color: gray;
  opacity: 0.95;
  text-align: center;
  color: #5A5A5A;
}
#popup .section {
	display: inline-block;
	min-width: 70px;
	margin-bottom: 10px;
}
#popup .section h1 {
    color: #11710B;
    font-size: 3em;
    margin-top: 0.1em;
    margin-bottom: 0.05em;
}
#popup_user_name {
	color: black;
}
#popup .micro {
	font-size: 15px;
	margin-top: 10px;
}
#popup .screen_name {
    padding: 0 7px;
}


/*** summary dialog ***/
#summary_dialog.modal {
    top: 60px;
    right: 10px;
    bottom: auto;
    left: auto;
}
#summary_dialog > .modal-dialog {
	margin:0;
	width: 375px;
}

#summary_dialog .scores {
	text-align: center;
}
#summary_dialog .section {
    display: inline-block;
    min-width: 150px;
    margin-bottom: 10px;
    font-size: 1.5em;
}
#summary_dialog .section h1 {
    color: #11710B;
    font-size: 3em;
    margin-top: 0.1em;
    margin-bottom: 0.05em;
}
#summary_dialog .modal-header .btn-primary {
	width: 100%;
}

#summary_dialog .twitter {
	margin-top: 10px;
}



#playback_dialog .modal-lg {
	width: 90%;
}